<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
    <body>

    <!--BOOK ITEM-->
    <div class="collection-item" th:fragment="bookitem">
        <img th:src="@{'img/'+${book.id}}"/>

        <div class="collection-text">
            <h3 th:text="${book.title}">Title</h3>
            <h3>
                <small><span th:text="${book.author} + ' (' + ${book.genre.displayGenre} + ')'"/></small>
            </h3>
            <p th:text="${book.annotation}">Annotation</p>

            <!--only ADMIN permission-->
            <div th:if="${showuser.permission == T(com.github.yaroslavguschak.onlinelibrary.entity.Permission).ADMIN}">
                <form class="admin-button" action="#" th:action="@{/adminaction}"  method="post">
                    <input type="hidden" name="bookId" th:value="${book.id}"/>
                    <input type="submit" name="action"  value="Edit"/>
                    <input type="submit" name="action"  value="Delete"/>
                </form>
            </div>
            <!--/only ADMIN permission-->

            <!--only ADMIN&SUBSCRIBER permission-->
            <div th:if="${showuser.permission == T(com.github.yaroslavguschak.onlinelibrary.entity.Permission).ADMIN
                                    or showuser.permission == T(com.github.yaroslavguschak.onlinelibrary.entity.Permission).SUBSCRIBER}">
                <form class="admin-button" action="#" th:action="@{/shelfaction}"  method="post">
                    <input type="hidden" name="bookId" th:value="${book.id}"/>

                    <div th:switch="${showuser.getShelf().getBookList().contains(book)}">
                        <input th:case="${false}" type="submit" name="action"  value="Save to shelf"/>
                        <input th:case="${true}" type="submit" name="action"  value="Delete from shelf"/>
                    </div>
                </form>
                <a th:href="@{${book.id}}">Read more</a>
                <a th:href="@{'download/'+${book.id} + '.pdf'}">Download PDF</a>
            </div>
            <!--/only ADMIN&SUBSCRIBER permission-->
        </div>
    </div>
    <!--/BOOK ITEM-->


    <!--BOOK DETAILED-->
    <div class="collection-item" th:fragment="bookdetailed">
        <img th:src="@{'img/'+${book.id}}"/>

        <div class="collection-text">
            <h3 th:text="${book.title}">Title</h3>
            <h3>
                <small>
                    <span th:text="${book.author}"/>
                    <div th:text="${book.isbn}">ISBN</div>
                    <div th:text="${book.genre.displayGenre}">Genre</div>
                    <div th:text="${book.year}+ ' year'">Year</div>
                    <div th:text="${book.city}">City</div>
                    <div th:text="${book.pages} + ' pages'" >Pages</div>
                </small>
            </h3>
            <p th:text="${book.annotation}">Annotation</p>


            <!--only ADMIN permission-->
            <div th:if="${showuser.permission == T(com.github.yaroslavguschak.onlinelibrary.entity.Permission).ADMIN}">
                <form class="admin-button" action="#" th:action="@{/adminaction}"  method="post">
                    <input type="hidden" name="bookId" th:value="${book.id}"/>
                    <input type="submit" name="action"  value="Edit"/>
                    <input type="submit" name="action"  value="Delete"/>
                </form>
            </div>
            <!--/only ADMIN permission-->

            <!--only ADMIN&SUBSCRIBER permission-->
            <div th:if="${showuser.permission == T(com.github.yaroslavguschak.onlinelibrary.entity.Permission).ADMIN
                                    or showuser.permission == T(com.github.yaroslavguschak.onlinelibrary.entity.Permission).SUBSCRIBER}">
                <form class="admin-button" action="#" th:action="@{/shelfaction}"  method="post">
                    <input type="hidden" name="bookId" th:value="${book.id}"/>

                    <div th:switch="${showuser.getShelf().getBookList().contains(book)}">
                        <input th:case="${false}" type="submit" name="action"  value="Save to shelf"/>
                        <input th:case="${true}" type="submit" name="action"  value="Delete from shelf"/>
                    </div>
                </form>
                <a th:href="@{'download/'+${book.id} + '.pdf'}">Download PDF</a>
            </div>
            <!--/only ADMIN&SUBSCRIBER permission-->
        </div>
    </div>
    <!--/BOOK DETAILED-->

    <!--BOOK EDITING / ADDITION-->
    <div class="edit"  th:fragment="bookedit">
        <div class="edit-img">
            <img th:src="@{'img/'+${bookRequest.id}}"/>
        </div>

        <div class="edit-fields">
            <h3 th:text="${bookRequest.title}">Title</h3>

            <form  action="#" th:action="@{/doeditbook}"  th:object="${bookRequest}" method="post"
                  enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}"/>

                <div class="field">
                    <label for="author">Auhor:</label>
                    <input type="text" th:field="*{author}"/>
                 </div>

                <div class="field">
                    <label for="title">Title:</label>
                    <input type="text" th:field="*{title}"/>
                    </div>
                <div class="field">
                    <label for="annotation">Annotation:</label>
                    <input type="text" th:field="*{annotation}"/>
                </div>

                <div class="field">
                <label for="genre">Genre:</label>
                <select  th:field="*{genre}" >
                    <option th:each="genreItem : ${T(com.github.yaroslavguschak.onlinelibrary.entity.Genre).values()}"
                            th:value="${genreItem}"
                            th:text="${genreItem.displayGenre}">
                    </option>
                </select>
                </div>
                <div class="field">
                    <label for="year">Year:</label>
                    <input type="text" th:field="*{year}"/>
                </div>
                    <div class="field">
                    <label for="city">City:</label>
                    <input type="text" th:field="*{city}"/>
                </div>
                <div class="field">
                    <label for="pages">Pages:</label>
                    <input type="text" th:field="*{pages}"/>
                </div>
                <div class="field">
                    <label for="cover">Cover img:</label>
                    <input type="file" name="cover" />
                </div>
                <div class="field">
                    <label for="booktext">Full text:</label>
                    <input type="text" th:field="*{booktext}"/>
                </div>
                <input type="submit" value="Save edited book"/>
            </form>





        </div>
    </div>
    <!--/BOOK EDITING / ADDITION-->




    </body>
</html>