<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
    <body>
    <!--HEADER-->
    <header class="header" th:fragment="header">
        <div class="container">
            <h1>Online Java library</h1>
            <h2>
                <small> Best way to learn java online!</small>
            </h2>

        </div>
    </header>
    <!--/HEADER-->

    <!--NAVIGATION-->
    <nav class="page-navigation" th:fragment="navigation">

        <div th:if="${showuser} != null">
            <div class="user-info" th:text="${showuser.login} +' / ' + ${showuser.permission}"></div>
        </div>

        <div class="container">

            <ul>
                <li><a href="index">Lirary</a></li>
                <li><a href="shelf">Shelf</a></li>
                <li th:if="${showuser} == null"><a href="register" method="get">Register</a></li>
                <li th:if="${showuser} != null"><a href="logout" method="post">Logout</a></li>
                <!--<li><div class="user-info" th:text="${showuser.login} + ' ' + ${showuser.permission}"></div></li>-->
            </ul>
            <!--LOGIN FORM-->
            <div th:if="${showuser} == null">
                <form class="login" action="#" th:action="@{/loginchek}"  th:object="${loginRequest}" method="post">
                    <input type="text" th:field="*{login}" required="required" autofocus="true"/>
                    <input type="password" th:field="*{password}" required="required"/>
                    <input type="submit" value="Login"/>
                </form>
            </div>
            <div th:if="${showuser} != null">
                <form class="login" action="#" th:action="@{/search}"  method="get">
                    <select  name="genre" >
                        <option th:each="state : ${T(com.github.yaroslavguschak.onlinelibrary.entity.Genre).values()}" th:value="${state}" th:text="${state}"></option>
                    </select>
                    <input type="text" name="search" placeholder="Author or title..." autofocus="true"/>

                    <input type="submit" value="Search"/>
                </form>
            </div>

            <!--/LOGIN FORM-->
        </div>
    </nav>
    <!--/NAVIGATION-->

    </body>
</html>