<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../../resources/css/login.css" th:href="@{/resources/css/login.css}" />
    <link rel="stylesheet" href="../../../resources/css/index.css" th:href="@{/resources/css/index.css}" />
</head>
<body>

<div style="display: flex" th:include="menu :: header">Menu</div>

<form action="#" th:action="@{/doaddbook}"  th:object="${bookRequest}" method="post">
    <div class="main">
        <div  style="display:block; margin-bottom: 10px">
            <div class="field">
                <label class="little" for="searchTextInput">searchTextInput:</label>
                <input type="text" th:field="*{searchTextInput}"  class="input" />
            </div>
        </div>



        <div  style="display:block; margin-bottom: 10px">
            <div class="field">
                <label class="little" for="author">author:</label>
                <input type="text" th:field="*{author}"  class="input" />
            </div>
        </div>

        <div  style="display:block; margin-bottom: 10px">
            <div class="field">
                <label class="little" for="title">title:</label>
                <input type="text" th:field="*{title}"  class="input" />
            </div>
        </div>

        <div  style="display:block; margin-bottom: 10px">
            <div class="field">
                <label class="little" for="genre">genre:</label>
                <select class="input" th:field="*{genre}">
                    <option th:each="state : ${T(com.github.yaroslavguschak.onlinelibrary.entity.Genre).values()}" th:value="${state}" th:text="${state}"></option>
                </select>
            </div>
        </div>

        <div  style="display:block; margin-bottom: 10px">
            <div class="field">
                <label class="little" for="year">year:</label>
                <input type="text" th:field="*{year}"  class="input" />
            </div>
        </div>

        <div  style="display:block; margin-bottom: 10px">
            <div class="field">
                <label class="little" for="city">city:</label>
                <input type="text" th:field="*{city}"  class="input" />
            </div>
        </div>

        <div  style="display:block; margin-bottom: 10px">
            <div class="field">
                <label class="little" for="pages">pages:</label>
                <input type="text" th:field="*{pages}"  class="input" />
            </div>
        </div>

        <div  style="display:block; margin-bottom: 10px">
            <div class="field">
                <label class="little" for="booktext">booktext:</label>
                <input type="text" th:field="*{booktext}"  class="input" />
            </div>
        </div>





        <div>
            <input type="submit" value="Add Book" class="button17"/>
        </div>
    </div>


</form>


</body>
</html>

