<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Lib - shelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../../resources/css/index.css" th:href="@{/resources/css/index.css}" />
</head>
<body>

    <!--<div th:if="${showuser} != null">-->
        <!--<p style="font-family: monospace; margin-right: 20pt; color: darksalmon; text-align: right; font-size: 15pt"> <span th:text="${showuser.login}"/></p>-->
    <!--</div>-->

    <div style="display: flex" th:include="menu :: header">Menu</div>


    <div th:if="${showuser} == null">
        <p style="font-family: monospace; margin-left: 10pt; color: darksalmon">Please,  <a style="color: lightgoldenrodyellow" href="/login">login</a> and use personal shelf!</p>
    </div>


    <div th:if="${showuser} != null">

            <form action="#" th:action="@{/shelfaction}"  method="post" style="margin-right:20px">
                <div th:each="book, iterationStatus : ${showuser.shelf.bookList}">
                    <div class="itemContainer">
                        <div style="display: flex">
                            <div th:if="${showuser} != null">
                                <input type="checkbox" th:name = "${iterationStatus.count} - 1" value="delete"/>
                            </div>
                            <h2 style="margin:1px; font-size:13pt; color: lightgrey;font-family: sans-serif "><span th:text="${book.title}"/></h2>
                        </div>

                        <div style="border-top:solid 1px #49545d; border-bottom:solid 1px #49545d; padding-left: 10pt">
                            <p style="margin: 2px; color: antiquewhite;font-family: monospace "><span th:text="${book.author}"/></p>
                        </div>

                        <div>
                            <details style="color: black; font-size: 10pt">
                                <summary>More...</summary>
                                <div style="margin-left: 25pt; margin-top: 2pt; background-color: #687983; border-radius: 0 10px 10px 10px; padding: 5px">
                                    <p><span th:utext="${book.booktext}"/></p>
                                </div>
                            </details>
                        </div>
                    </div>
                </div>
                <div th:if="${showuser} != null">
                    <input type="hidden" name="action" value="DELETE"/>
                    <input type="submit" value="Delete"/>
                </div>


            </form>

    </div>





</body>
</html>