<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SlowNews - arhive</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../../resources/css/index.css" th:href="@{/resources/css/index.css}" />
</head>
<body>

    <div th:if="${showuser} != null">
        <p style="font-family: monospace; margin-right: 20pt; color: darksalmon; text-align: right; font-size: 15pt"> <span th:text="${showuser.login}"/></p>
        <p style="font-family: monospace; margin-right: 20pt; color: darksalmon; text-align: right; font-size: 15pt"> <span th:text="${showuser.firstName}"/></p>
    </div>

    <div style="display: flex" th:include="menu :: header">Menu</div>

    <div th:if="${showuser} == null">
        <p style="font-family: monospace; margin-left: 10pt; color: darksalmon">Please,  <a style="color: lightgoldenrodyellow" href="/login">login</a> and use personal archive!</p>
    </div>


    <div th:if="${showuser} != null">


    </div>





</body>
</html>